<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/signUp">
        <label for="username">Username:</label>
        <input placeholder="Enter your username" type="text" id="username" name="username" />
        <br/>
        <label for="password">Password:</label>
        <input placeholder="Enter your password" id="password" name="password" type="password"/>
        <button type="submit">SignUp</button>
    </form>
</body>
</html>